<div class="contenido">
	<h2>PAGO</h2>
	<div id="inicio">
		<li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
	</div>
	<div class="formulario">
		<form>
			<input type="text" name="No.Reserva" placeholder="No. reserva" /><br>

			<input type="text" name="No.tarjeta" placeholder="No. Tarjeta" /><br>

			<input type="text" name="Apellidos" placeholder="mm/aa" /><br>

			<input type="text" name="Pais / Ciudad" placeholder="CVC" /><br>

			<input type="text" name="" placeholder="" /><br>

			<input type="submit" value="PAGAR" /><br>
		</form>
	</div>
</div>