/*
............................................................................................................
............................................................................................................
..........HOLA..............................................................................................
SI HACES UN CAMBIO DEJA UNA NOTA............................................................................
Y SI VES NECESARIO CREA UNA CLASS NUEVA EN LA ETIQUETA QUE NECESITES MODIFICAR,.............................
YO LO HAGO PERO COMO NO SE QUE HACES NO LO HAGO YO..........................................................
............................................................................................................
............................................................................................................
*/

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	color: black;
	/* background-color: #c1c1c1; */
	
}
/* Body */
body{
	width: 500px;
	border: 1px solid #4444;
	margin: 0px auto;
	margin-top: 50px;
	padding: 50px 40px;
	min-height: 600px;
	box-shadow: 2px 3px 4px #444;
	border-radius: 15px;
}

/* Contenido general */
.contenido{
	width: 90%;
	margin: 0px auto;
	line-height: 150px;
	border: 1px solid black;
}

.formulario{
	border: 1px solid yellowgreen;
	padding-top: 10px;
	/* background: yellow;
	display: block;
	width: 80%;
	height: 200px;
	margin-left: 7%;
	padding: 10px; */
}

/* Internos */
#chek-in, #pago {
	border: 1px solid #444;
	width: 80%;
	min-height: 150px;
	line-height: 150px;
	text-align: center;
	margin: 10px auto;
	font-size: 40px;
	
}
