/*
............................................................................................................
............................................................................................................
SI HACES UN CAMBIO DEJA UNA NOTA............................................................................
Y SI VES NECESARIO CREA UNA CLASS NUEVA EN LA ETIQUETA QUE NECESITES MODIFICAR,.............................
YO LO HAGO PERO COMO NO SE QUE HACES NO LO HAGO YO..........................................................
............................................................................................................
............................................................................................................
*/

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	/* background-color: #c1c1c1; */
	
}

@font-face{
	font-family: "Nanum Myeongjo";
	src: url(../font/NanumMyeongjo-Regular.ttf);
	src: url(../font/NanumMyeongjo-Bold.ttf);
}

@font-face{
	font-family: "Josefin Sans";
	src: url(../font/JosefinSans-VariableFont_wght.ttf);
}

/* Body */
body{
	width: 500px;
	border: 1px solid #4444;
	margin: 0px auto;
	margin-top: 50px;
	padding: 50px 40px;
	min-height: 600px;
	box-shadow: 2px 3px 4px #444;
	border-radius: 15px;
}

/* .direccion {
	font-family: "Nanum Myeongjo";
	color: red;
} */


/* cabecera */

.cabecera {
	display: flex;
}

.cabecera img{
	width: 50%;
	margin: 0px auto;

}


#chek-in a,
#pago a{
	font-family: "Nanum Myeongjo";
	font-size: 50px;
	color: #444;
	
}

/* Contenido general */
.contenido{
	width: 90%;
	margin: 30px auto;
	text-align: center;
	padding: 20px 0px;
	font-family: "Nanum Myeongjo";
}

.formulario{
	padding-top: 10px;
	display: block;
	width: 80%;
	margin: 0px auto;
	text-align: center;
	
}

.formulario input[type=text] {
	width: 100%;
	margin: 15px 0px;
	font-family: "Josefin Sans";
	font-size: 20px;
	text-align: center;
}

.formulario input[type=submit] {
	width: 50%;
	height: 50px;
	margin: 15px 0px;
	font-family: "Josefin Sans";
	font-size: 17px;
}

/* Internos */
#chek-in, #pago {
	border: 1px solid #444;
	width: 80%;
	min-height: 150px;
	line-height: 150px;
	text-align: center;
	margin: 10px auto;
	font-size: 40px;
	font-family: "Nanum Myeongjo";
	
}
