<div class="contenido">
	<h2>CHEK IN</h2>
	
	<div class="formulario">
		<form>
			<!-- Si se agrga la etiqueta placeholder no hay necesidad del label
				 Lo comento para que lo tengas encuenta-->
				 
			<!-- <label for="no.reserva">No. Reserva</label><br/> -->
			<input type="text" name="No.Reserva" placeholder="No. reserva" /><br/>

			<!-- <label for="no.reserva">Nombres</label><br/> -->
			<input type="text" name="Nombres" placeholder="Nombres" /><br/>

			<!-- <label for="no.reserva">Apellidos</label><br/> -->
			<input type="text" name="Apellidos" placeholder="Apellidos" /><br/>

			<!-- <label for="no.reserva">Pais / Ciudad</label><br/> -->
			<input type="text" name="Pais / Ciudad" placeholder="Pais / Ciudad" /><br/>

			<!-- <label for="no.reserva">Direccion</label><br/> -->
			<input type="text" name="Direccion" placeholder="Direccion" /><br/>

			<!-- <label for="no.reserva">Telefono</label><br/> -->
			<input type="text" name="Telefono" placeholder="Telefono" /><br/>

			<input type="submit" value="REGISTRAR" class="boton" />
		</form>
	</div>
	<div id="inicio">
		<li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Atras</a></li>
	</div>
	
</div>